@import url(nav.css);
@import url(grid.css);
@import url(Home.css);
@import url(footer.css);

p {
    font-size: 15px;
    font-family: 'EB Garamond', serif;
}

h1{
    font-family: 'Italianno', cursive;
    font-size: 30px;
}

ol li {
    padding: 25px;
    margin: 15px;
    width: 200px;
    font-size: 25px;
    background: #ff8080;
    box-shadow: 0 35px 50px #f89e9e;
    border-radius: 5px;
    font-size: 16px;
    color: #000;
}

ol li:hover {
    background: #7c586c;
}

.facts li {
    margin: 15px;
    width: 150px;
    height: 100px;
    font-size: 12px;
    justify-content: center;
    cursor: context-menu;

}

.share{
    font-size: 30px;
}

em {
    font-size: 20px;
}

article {
    justify-content: center;
}

.content h1 {
    text-align: center;
}


@media(min-width: 600px) and (max-width: 900px){
    ol li {
        padding: 25px;
        margin: 15px;
        width: 80px;
        font-size: 12px;
        background: #ff8080;
        box-shadow: 0 35px 50px #f89e9e;
        border-radius: 5px;
        font-size: 16px;
        color: #000;
    }

    ol li:hover {
        background: #7c586c;
    }

    .share li {
        margin: 5px;
        width: 50px;
        height: 20px;
        font-size: 14px;
        justify-content: center;
        cursor: context-menu;

    }

    h1 {
        font-size: 16px;
        font-family: 'Cinzel Decorative', cursive;
    }

    .side h1 {
        font-size: 12px;
        font-family: 'Cinzel Decorative', cursive;
    }

    .facts li {
        font-size: 10.5px;
        width: 100px;
        height: 100px;
        margin: 15px;
    }
}

@media(min-width: 901px){
    p {
        font-size: 18px;
        font-family: 'EB Garamond', serif;
    }

    h1{
        font-family: 'Italianno', cursive;
        font-size: 30px;
    }

    .capt {
        width: 100px;
        height: 150px;
    }

    ol li {
        padding: 15px;
        margin: 12px;
        width: 150px;
        font-size: 16px;
        background: #ff8080;
        box-shadow: 0 35px 50px #f89e9e;
        justify-content: center;
        border-radius: 5px;
        font-size: 16px;
        color: #000;
    }

    ol li:hover {
        background: #7c586c;
    }

    .facts li {
        margin: 10px;
        width: 100px;
        height: 250px;
        justify-content: center;
        cursor: context-menu;
        font-size: 14px;
    }

    .share{
        font-size: 30px;
    }

    em {
        font-size: 20px;
    }

    article {
        justify-content: center;
    }

    .content h1 {
        text-align: center;
    }
    .capt {
        width: 200px;
    }
}


