@import url(nav.css);
@import url(grid.css);
@import url(footer.css);

body {
    background: rgb(248, 248, 234);
}

.photoBox {
    width: 450px;
    height: 350px;
    padding: 5px;
    margin: 15px;
    text-align: center;
    border: 2px solid #998478;
    box-shadow: 0 35px 50px #f89e9e;
    border-radius: 10px;
    color: #000;
}

#one {
    background: #ff8080;
}

#two {
    background: #ff8080;
}

#three {
    background: #ff8080;
}

#four {
    background: #ff8080;
}

.box {
    display: flex;
    padding: 15px;
    border-radius: 25px;
}

.header {
    grid-area:hd;
    background-image: url("../image/brcan.jpg");
    font-size: 20px;
    width: 100%;
    height: 100%px;
    top: 0;
    border-radius: 15px;
}

.sidebar {
    grid-area:sd;
    border: 2px solid #998478;
    padding: 15px;
    justify-content: center;
    text-align: center;
    box-shadow: 0 35px 50px #f89e9e;
}

.content {
    grid-area:main;
    justify-content: center;
    border: 2px solid #998478;
    box-shadow: 0 35px 50px #f89e9e;
    padding: 5px;

}

.sideb h1 {
    font-size: 40px;
    font-family: 'Italianno', cursive
}


ol li {
    padding: 5px;
    margin: 15px;
    width: 200px;
    background: #80002a;
    border-radius: 5px;
}
ol li a{
    font-size: 20px;
}
ol li:hover {
    cursor: pointer;
}

.search {
    padding-top: 10px;
}

.search i {
    padding: 5px;
}


h1 i {
    padding: 5px;
}


.card-title {
	font-size: 20px;
    font-family: 'Cinzel Decorative', cursive
}

.card-info {
	font-size: 0.8em;
	margin-bottom: 0.3em;
}

.card-text {
	/* border: 1px solid red; */
	/* text-align: center; */
	font-family: 'Poppins';
	font-weight: 200;
	color: #000;
	margin-bottom: 0.8em;
	/* Check {line-clamp} on {css-tricks.com} */
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
    font-family: 'EB Garamond', serif;
}

.card-footer {
	display: flex;
	justify-content: center;
	align-items: baseline;
	margin-top: 0.5em;
	width: 90%;
    font-family: 'Cinzel Decorative', cursive
}

.card-footer > a {
    color: #fff;
	text-decoration: none;
    padding: 5px;
    border: 2px solid #4d001f;
    background-color: #4d001f;

}

.read {
	border-radius: 0.5em;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    font-size: 20px;
}

.card-image {
    width: 175px;
    height: 100px;
}

span a:hover {
    color: #998478;
}

.side li a {
    color: #fff;

}

@media(min-width: 600px) and (max-width: 900px){
    .photoBox {
        width: 190px;
        height: 350px;
        padding: 5px;
        margin: 10px;
        text-align: center;
        border: 2px solid #998478;
        box-shadow: 0 35px 50px #f89e9e;
        border-radius: 10px;
        color: #000;
    }

    .card-title {
        font-size: 12px;
        font-family: 'Cinzel Decorative', cursive
    }
    .read {
        border-radius: 0.5em;
        padding: 5px;
        margin: 5px;
        border-radius: 5px;
        font-size: 12px;
    }
    .sideb h1 {
        font-size: 9px;
        font-family: 'Cinzel Decorative', cursive
    }
    
    
    ol li {
        padding: 3;
        margin: 10px;
        width: 65px;
        background: #80002a;
        border-radius: 5px;
    }
    ol li a{
        font-size: 10px;
    }
    .find {
        width: 55px;
    }
}

