.navbar {
    display: flex;
    width: 95%;
    height: 100%;
    background-color: #ffb3b3;
    border-radius: 10px;
}

ul {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffb3b3;
    border-radius: 10px;
}

li {
    float: left;
}

li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 12px;
    font-family: 'Cinzel Decorative', cursive
}

li a:hover:not(.active) {
    background-color: #4d001f;
    color: #fff;
}

.active {
    background-color: #4d001f;
    font-size: 16px;
    color: #fff;
}

.active:hover {
    color: #7c586c;
}

.avatar {
    width: 30px;
    height: 30px;
    margin: 10px;
    border-radius: 5px;
}

.right {
    float: right;
}

.sid {
    padding: 10px;
}

@media(min-width: 600px) and (max-width: 900px){
    .navbar {
        display: flex;
        width: 100%;
        box-shadow: 0 30px 45px #944;
    }

    ul {
        list-style-type: none;
        width: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #ffb3b3;
        border-radius: 10px;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: #000;
        text-align: center;
        padding: 7px 8px;
        text-decoration: none;
        font-size: 16px;
        font-family: 'Cinzel Decorative', cursive
    }

    li a:hover:not(.active) {
        background-color: #4d001f;
        color: #fff;
    }

    .active {
        background-color: #4d001f;
        font-size: 16px;
        color: #fff;
    }

    .right {
        float: right;
    }

    .active:hover {
        color: #7c586c;
    }

    .avatar {
        width: 20px;
        height: 20px;
        margin: 5px;
        border-radius: 5px;
    }
}

@media(min-width: 901px){
    .navbar {
        display: flex;
        width: 95%;
        background-color: #ffb3b3;
        border-radius: 10px;
    }

    ul {
        list-style-type: none;
        width: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #ffb3b3;
        border-radius: 10px;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: #000;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 25px;
        font-family: 'Cinzel Decorative', cursive
    }

    li a:hover:not(.active) {
        background-color: #4d001f;
        color: #fff;
    }

    .active {
        background-color: #4d001f;
        font-size: 26px;
        color: #fff;
    }

    .active:hover {
        color: #7c586c;
    }

    .avatar {
        width: 30px;
        height: 30px;
        margin: 10px;
        border-radius: 5px;
    }

    .right {
        float: right;
    }
}
