@import url(blogPost.css);
@import url(nav.css);
@import url(grid.css);
@import url(Home.css);
@import url(footer.css);


@media(max-width: 320px){
    .newstitle {
        font-size: 15px;
        font-family: 'Cinzel Decorative', cursive;
    }
    
    p {
        color: #000;
        font-weight: 500;
        font-size: 10px;
        font-family: 'EB Garamond', serif;
    }
    
    ol li {
        padding: 10px;
        margin: 10px;
        width: 150px;
        height: 50px;
        font-size: 20px;
        box-shadow: 0 30px 45px #f89e9e;
        background: #ff8080;
        border-radius: 5px;
        color: #000;
    }
    
    .content .virus {
        justify-content: center;
        height: 150px;
        text-align: center;
        border-radius: 15px;
        margin-left: 100px;
    
}
@media(min-width: 901px){
    .newstitle {
        font-size: 25px;
        font-family: 'Cinzel Decorative', cursive;
    }
    
    p {
        color: #000;
        font-weight: 500;
        font-size: 14px;
        font-family: 'EB Garamond', serif;
    }
    
    ol li {
        padding: 10px;
        margin: 15px;
        width: 200px;
        height: 50px;
        font-size: 25px;
        background: #ff8080;
        border-radius: 5px;
        color: #000;
    }
    
    .content .virus {
        justify-content: center;
        height: 300px;
        text-align: center;
        border-radius: 15px;
        margin-left: 200px;
    
    }
}

@media(min-width: 600px) and (max-width: 900px){
    .newstitle {
        font-size: 15px;
        font-family: 'Cinzel Decorative', cursive;
    }
    
    p {
        color: #000;
        font-weight: 500;
        font-size: 5px;
        font-family: 'EB Garamond', serif;
    }
    
    ol li {
        padding: 10px;
        margin: 15px;
        width: 90px;
        height: 30px;
        font-size: 12px;
        background: #ff8080;
        border-radius: 5px;
        color: #000;
    }
    ol {
        padding: 0;
    }
    .titleside {
        font-size: 12px;
        font-family: 'Cinzel Decorative', cursive;
    }
    .content .virus {
        justify-content: center;
        height: 150px;
        text-align: center;
        border-radius: 15px;
        margin-left: 100px;
    
    }
}